/* Remove button and eventbox background, border, and padding */
button, eventbox {
    all: unset;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
  }
  

  window {
    background: transparent;
    border: none;
  }
  

  .bubble {
    background-color: #181926;
    color: #ee99a0;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }
  

  .time label {
    font-family: "JetBrains Mono Light";
    color: #ee99a0;
    font-size: 1.1rem;
  }
  

  label {
    font-family: "JetBrains Mono Light";
    color: #ee99a0;
    font-size: 1.1rem;
  }
  