.bubble {
    background-color: #181926;
    color: #ee99a0;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .time label {
    font-family: "JetBrains Mono Light";
    color: #ee99a0;
    font-size: 1.1rem;
    text-align: center;
  }
  